*, *::before,
*::after {
    box-sizing: border-box;
    // margin: 0;
    padding: 0;
}

// $body-color: linear-gradient(rgba(12, 122, 100), rgba(48, 32, 72));
$displayFlex: flex;
$displayGrid: grid;

body {
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
}

.main {
    display: $displayGrid;
    grid-template-columns: 1fr 1fr;
    padding: 8px;
    gap: 16px;
}

.personal_info_wrapper {
    display: $displayFlex;
    flex-direction: column;
    gap: 0.3rem;
}

.educational_experience_wrapper {
    display: $displayFlex;
	flex-direction: column;
}

.educational___experience___form_fields {
	display: $displayFlex;
	flex-direction: column;
	gap: 0.3rem;
	margin-bottom: 1.5rem;
}

.educational___experience___wrapper___buttons {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
}

.practical_experience_wrapper {
    display: $displayFlex;
    flex-direction: column;
}

.practical___experience___form_fields {
	display: $displayFlex;
	flex-direction: column;
	gap: 0.3rem;
	margin-bottom: 1.5rem;
}

.practical___experience___wrapper___buttons {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
}

.form_fields_wrapper {
    display: $displayFlex;
    flex-direction: column;
    /* border: 1px solid;
    padding: 10px; */
}

.form_fields_wrapper > button {
	padding: 0.5rem;
	margin-top: 0.5rem;
}

.profile-header {
    display: $displayFlex;
    align-items: center;
    justify-content: space-between;
}

.profile___education___wrapper {
    border-bottom: 1px solid;
}

.profile-education {
    display: $displayFlex;
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;
    
}

.profile___edication___town___program {
    display: $displayFlex;
    flex-direction: column;
    margin-top: -10px;
}

.profile___work___wrapper {
    border-bottom: 1px solid;
}

.profile-work {
    display: $displayFlex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}