*, *::before,
*::after {
    box-sizing: border-box;
    // margin: 0;
    padding: 0;
}

// $bodyColor: linear-gradient(rgb(1, 32, 26), rgb(14, 2, 34));
$displayFlex: flex;
$displayGrid: grid;

body {
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
	background-color: dimgray;
	color: white;
}