*, *::before,
*::after {
    box-sizing: border-box;
    // margin: 0;
    padding: 0;
}

// $bodyColor: linear-gradient(rgb(1, 32, 26), rgb(14, 2, 34));
$displayFlex: flex;
$displayGrid: grid;

body {
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
}

.educational_experience_wrapper {
    display: $displayFlex;
	flex-direction: column;
}

.educational___experience___form_fields {
	display: $displayFlex;
	flex-direction: column;
	gap: 0.3rem;
	margin-bottom: 1.5rem;
}

.educational___experience___wrapper___buttons {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
}

.practical_experience_wrapper {
    display: $displayFlex;
    flex-direction: column;
}

.practical___experience___form_fields {
	display: $displayFlex;
	flex-direction: column;
	gap: 0.3rem;
	margin-bottom: 1.5rem;
}

.practical___experience___wrapper___buttons {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
}