.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6px;
	border-bottom: 1px solid;
	height: 60px;

	@media screen and (max-width: 800px) {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 60px;
        	padding: 10px;
			border-bottom: 1px solid;

		.nav {
			display: none;
		}
	}
}

.nav {
	display: flex;
	align-items: center;

	.nav-items {
		list-style: none;
	}
}
