.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6px;

	h1 {
		justify-content: center;
	}

	@media screen and (max-width: 800px) {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 60px;
        	padding: 10px;

		.nav {
			display: none;
		}
	}
}

.nav {
	display: flex;
	align-items: center;

	.nav-items {
		list-style: none;
	}
}
