$displayFlex: flex;

.educational_experience_wrapper {
    display: $displayFlex;
	flex-direction: column;

	.educational___experience___wrapper___buttons {
		text-align: right;
	}
}

.educational___experience___form_fields {
	display: $displayFlex;
	flex-direction: column;
	gap: 0.3rem;
	margin-bottom: 1.5rem;
}