$displayFlex: flex;

.practical_experience_wrapper {
    display: $displayFlex;
    flex-direction: column;

	.practical___experience___wrapper___buttons {
		text-align: end;
	}
}

.practical___experience___form_fields {
	display: $displayFlex;
	flex-direction: column;
	gap: 0.3rem;
	margin-bottom: 1.5rem;
}