*, html {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px;
    gap: 16px;
}

.personal_info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.educational_experience_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.practical_experience_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form {
    display: flex;
    flex-direction: column;
    /* border: 1px solid;
    padding: 10px; */
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile___education___wrapper {
    border-bottom: 1px solid;
}

.profile-education {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;
    
}

.profile___edication___town___program {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.profile___work___wrapper {
    border-bottom: 1px solid;
}

.profile-work {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}